target/
.mvn/

.idea/
*.iws
*.iml
*.ipr

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

.vscode/
.DS_Store